@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
.navMenu {
  position: absolute;
  top: 5%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 18px;
  font-family: "Arima Madurai", cursive;
}

.navMenu a {
  color: #45f3ff;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #ff3c7b;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #45f3ff;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #333;
}

.card {
  position: relative;
  width: 350px;
  height: 190px;
  background: #ff3c7b;
  transition: 0.5s;
}
.card:hover {
  height: 450px;
}
.card .lines {
  position: absolute;
  inset: 0;
  background: #000;
  overflow: hidden;
}
.card .lines::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 600px;
  height: 120px;
  background: linear-gradient(
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff,
    transparent
  );
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.card .lines::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #292929;
}

.card .imgBx {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  background: #000;
  transition: 0.5s;
  z-index: 10;
  overflow: hidden;
}

.card:hover .imgBx {
  width: 250px;
  height: 250px;
}

.card .imgBx::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 150px;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    transparent,
    #ff3c7b,
    #ff3c7b,
    #ff3c7b,
    transparent
  );
  animation: animate2 6s linear infinite;
}

@keyframes animate2 {
  0% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}

.card .imgBx::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #292929;
}

.card .imgBx img {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  filter: grayscale(1);
}
.card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.card .content .details {
  padding: 85px;
  text-align: center;
  width: 100%;
  transition: 0.5s;
  transform: translateY(145px);
}
.card:hover .content .details {
  transform: translateY(0px);
}
.card .content .details h2 {
  font-size: 1.25em;
  font-weight: 600;
  color: #45f3ff;
  line-height: 1.2em;
}
.card .content .details h2 span {
  font-size: 0.75em;
  font-weight: 500;
  color: #fff;
}
.card .content .details .data {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.card .content .details .data h3 {
  font-size: 1em;
  color: #45f3ff;
  line-height: 1.2em;
  font-weight: 600;
}

.logo {
  width: 30px;
}

.card .content .details .button button {
  padding: 10px 30px;
  border: none;
  outline: none;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 500;
  background: #45f3ff;
  color: #000;
  cursor: pointer;
  opacity: 0.8;
}
.card .content .details .button button:hover {
  opacity: 1;
}

.card2 {
  position: relative;
  width: 550px;
  height: 500px;
  background: #000000;
  transition: 0.5s;
}

.card2 .lines2 {
  position: absolute;
  inset: 0;
  background: rgb(0, 0, 0);
  overflow: hidden;
}
.card2 .lines2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 800px;
  height: 120px;
  background: linear-gradient(
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff,
    transparent
  );
  animation: animate2 4s linear infinite;
}

@keyframes animate2 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.card2 .lines2::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #292929;
}

.card2 .content2 .details2 {
  padding: 40px;
  text-align: center;

  transition: 0.5s;
  transform: translateY(145px);
}
.card2 .content2 .details2 {
  margin: -175px 0;
}
.details2 .h2 {
  margin-top: 10px;
  color: #45f3ff;
}
.details2 .p {
  color: #fff;
  margin-top: 55px;
}
.details2 .h3 {
  color: #fff;
  margin-top: 20px;
  font-weight: 500;
}

.logofreecode {
  margin-top: 20px;
  width: 50px;
  height: 30px;
}

.container5 {
  width: 80%;
  padding: 20px;
}

.container5 h2 {
  padding-left: 80px;
  position: relative;
  width: 100%;
  color: #45f3ff;
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
}
.container5 .row100 {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.container5 .row100 .col {
  position: relative;
  width: 100%;
  padding: 0 10px;
  margin: 30px 0 10px;
  transition: 0.5s;
}

.container5 .row100 .inputBox {
  position: relative;
  width: 100%;
  height: 40px;
  color: #45f3ff;
}

.container5 .row100 .inputBox input,
.container5 .row100 .inputBox.textarea textarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0 10px;
  z-index: 1;
  color: #000;
}

.container5 .row100 .inputBox .text {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 18px;
  padding: 0 10px;
  display: block;
  transition: 0.5s;
  pointer-events: none;
}

.container5 .row100 .inputBox input:focus + .text,
.container5 .row100 .inputBox input:valid + .text {
  top: -35px;
  left: -10px;
}

.container5 .row100 .inputBox .line {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 2px;
  background: #45f3ff;
  transition: 0.5s;
  border-radius: 2px;
  pointer-events: none;
}

.container5 .row100 .inputBox input:focus ~ .line,
.container5 .row100 .inputBox input:valid ~ .line {
  height: 100%;
}

.container5 .row100 .inputBox.textarea {
  position: relative;
  width: 100%;
  height: 100px;
  padding: 10px 0;
}

.container5 .row100 .inputBox.textarea textarea {
  height: 100%;
  resize: none;
}

.container5 .row100 .inputBox textarea:focus + .text,
.container5 .row100 .inputBox textarea:valid + .text {
  top: -35px;
  left: -10px;
}
.container5 .row100 .inputBox textarea:focus ~ .line,
.container5 .row100 .inputBox textarea:valid ~ .line {
  height: 100%;
}

input[type="submit"] {
  border: none;
  padding: 7px 35px;
  cursor: pointer;
  outline: none;
  background: #45f3ff;
  color: #000;
  font-size: 18px;
  border-radius: 2px;
}

.card5 {
  position: relative;
  width: 500px;
  height: 630px;
  background: #000000;
  transition: 0.5s;
}

.card5 .lines5 {
  position: absolute;
  inset: 0;
  background: rgb(0, 0, 0);
  overflow: hidden;
}
.card5 .lines5::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 900px;
  height: 120px;
  background: linear-gradient(
    transparent,
    #45f3ff,
    #45f3ff,
    #45f3ff,
    transparent
  );
  animation: animate5 4s linear infinite;
}

@keyframes animate5 {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.card5 .lines5::after {
  content: "";
  position: absolute;
  inset: 3px;
  background: #292929;
}
